<a href="https://colab.research.google.com/github/simar0459/ASSIGNMENT-1/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT SOLUTIONS

We are going to solve an Assignment on Basics of Python

#Q-1) A list is defined as L=[11,12,13,14]

(i) WAP to add 50 and 60 to L

In [1]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii)WAP to remove 11 and 13 from L

In [2]:
L=[11,12,13,14]
L.remove(11)
L.remove(13)
print(L)

[12, 14]

(iii)WAP to sort L in ascending order

In [3]:
L=[12,11,14,13]
L.sort()
print(L)

[11, 12, 13, 14]

(iv)WAP to sort L in descending order

In [4]:
L=[12,11,14,13]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

(v)WAP to search for 13 in L

In [5]:
L=[11,12,13,14]
search_element=13
if search_element in L:
    print(f"{search_element} found in the list L")
else:
    print(f"{search_element} not found in the list L")

13 found in the list L

(vi)WAP to count the no. of elements present in L

In [6]:
L=[11,12,13,14]
n=len(L)
print('number of elements in L are:',n)

number of elements in L are: 4

(vii)WAP to sum all elements in L

In [7]:
L=[11,12,13,14]
all_elements=sum(L)
print('sum of elements in L is :',all_elements)

sum of elements in L is : 50

(viii)WAP to sum all odd numbers in L

In [8]:
L=[11,12,13,14]
odd_numbers=sum( i for i in L if i%2!=0)
print('sum of odd elements is:',odd_numbers)

sum of odd elements is: 24

(ix)WAP to sum all even numbers in L

In [9]:
L=[11,12,13,14]
answer=sum( i for i in L if i%2==0)
print('sum',answer)

sum 26

(x)WAP to sum all prime numbers

In [10]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

L=[11,13,14,12]
prime = sum(i for i in L if is_prime(i))

print("Sum of prime numbers is:", prime)

Sum of prime numbers is: 24

(xi)WAP to clear all the elements in L

In [11]:
L=[11,12,13,14]
L.clear()
print(L)

[]

(xii)WAP to delete L

In [12]:
L=[11,12,13,14]
del L
print(L)

NameError: name 'L' is not defined

here, we got an error because we can not print the linked list as it already has been deleted hence we have deleted the list L.

#Q-2 D is a dictionary defined as D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

(i)WAP to add new entry in D,key=8 and value is 8.8

In [14]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii)WAP to remove key=2

In [15]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii)WAP to check whether 6 key is present in D

In [16]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
key=6
if key in D:
    print("Key 6 is present in the dictionary.")
else:
    print("Key 6 is not present in the dictionary.")

Key 6 is not present in the dictionary.

(iv)WAP to count the number of elements present in D

In [17]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
a=len(D)
print(a)

5

(v)WAP to add all values present in D

In [18]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
total = sum(D.values())

print("Sum of all values in the dictionary:", total)

Sum of all values in the dictionary: 36.4

(vi)WAP to update the value of 3 to 7.1

In [19]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[3] = 7.1
print("Updated dictionary:", D)

Updated dictionary: {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii)WAP to clear the dictionary

In [20]:
D = {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}
D.clear()
print("Dictionary after clearing:", D)

Dictionary after clearing: {}

##Q-3 S1=[10,20,30,40,50,60]
##S2=[40,50,60,70,80,90]

(i) WAP to add 55 and 61 in set S1

In [21]:
S1 = [10, 20, 30, 40, 50, 60]
S1 = set(S1)
S1.add(55)
S1.add(61)
print(S1)

{40, 10, 50, 20, 55, 60, 61, 30}

(ii)WAP to remove 10 and 30 from S1

In [22]:
S1 = {10, 20, 30, 40, 50, 60, 55, 61}
S1.discard(10)
S1.discard(30)
print(S1)

{40, 50, 20, 55, 60, 61}

(iii)WAP to check whether 40 is present ib S1

In [23]:
S1 = {20, 40, 50, 60, 55, 61}
if 40 in S1:
    print("40 is present in S1")
else:
    print("40 is not present in S1")

40 is present in S1

(iv)WAP to find the union between S1 and S2

In [24]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
union_set = S1.union(S2)
print(union_set)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

(v)WAP to find the intersection between S1 and S2

In [25]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
intersection_set = S1.intersection(S2)
print(intersection_set)

{40, 50, 60}

(vi)WAP to  find S1-S2

In [26]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
difference_set = S1 - S2
print(difference_set)

{10, 20, 30}

##Q-4 write the following programs

(i)WAP to print 100 random strings whose length between 6 and 8

In [27]:
import random
import string

for i in range(100):
    length = random.randint(6, 8)
    rand_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
    print(rand_str)

QNzEfb
lTp0Wd4T
o4UeS53
fwh8kBUl
eKpY7ov
rhNY7X
gFsdG8
p7ptQK
W1NmiOye
N0DwnW9B
PWoj3K
kiirym
tywgKV
dolBDP3
H2fVd7a
ySUOza
sgeIAq9T
uZKgGw4
eloNnjZ
cFz2hH
VByTyw
Ze1iHO
eiCch1X
kgmXy6tF
bpaaTnN
coKicCOL
oVBd8m
bh0SNYq
ZTuqya
Nwd4DI
VbLRFI
YP2P9r
Z3Hqy4Zk
EzU3S24g
GBDD6pI
9sG04ST
zqZdqDTF
SRbQuPP
wZUg2tfs
5PcPSRAA
mAbRe9Mq
kZU4es
Bv3VELeT
WQy0S4Sl
VkfQhcgS
a1OBmj
gPVsYq
GAM61o
wFqXpt8m
wWotxZc
8hXCL8o
BO0HAd
Ep6RHfE
JShh9GbQ
jpN1iqwu
i3oJLv
6lRrkAQ
d6RLrTc
Ro3O9GuS
6q7DZrRV
JGEakz
PK4A41u
BrojzT
TcjPJrX
TNdNHcOn
dxAReKw0
JOuOcNh2
O4eOrgdk
2rLiSDZU
h3mVfq
dQuX9i
uelapw
8vcjZl7s
xd8wuJN
AOkL2tU
PZKxWW
T5SHML1
WlG61HSO
i0gBmg9
QRQOYxm
BpRv0M
lkZGy6Bp
XM4iCoq
zQPTC5Xn
CCrOmH
FG0OlT0
bcn907DA
I0RZWojR
e1EuMo3
95byYSN
aJ22By
d3BsRppY
rSknqL
tRXMbTG1
OvhczC
yNjUkBOt
DsaJe6n
M5bpFwpn
ApA2DqQ
IDQySHSD

(ii)WAP to print all prime numbers between 600 and 800

In [28]:
for num in range(600, 801):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii)WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [29]:
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

## Q-5 WAP to create two list of 10 random numbers between 10 and 30

(i) Common numbers in the two list

In [30]:
import random

list1 = [random.randint(10, 30) for i in range(10)]
list2 = [random.randint(10, 30) for i in range(10)]

common = list(set(list1) & set(list2))

print("List 1:", list1)
print("List 2:", list2)
print("Common elements:", common)

List 1: [29, 26, 25, 23, 29, 14, 28, 16, 11, 16]
List 2: [28, 13, 27, 26, 29, 12, 19, 28, 17, 20]
Common elements: [26, 28, 29]

(ii) Unique numbers in both the list

In [31]:
import random

list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

unique = list(set(list1) ^ set(list2))

print("List 1:", list1)
print("List 2:", list2)
print("Unique elements in both lists:", unique)

List 1: [29, 29, 19, 11, 22, 30, 19, 12, 17, 30]
List 2: [16, 20, 22, 21, 29, 17, 11, 12, 10, 14]
Unique elements in both lists: [10, 14, 16, 19, 20, 21, 30]

(iii)Minimum in both the list

In [32]:
import random

list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

min1 = min(list1)
min2 = min(list2)

print("List 1:", list1)
print("List 2:", list2)
print("Minimum in List 1:", min1)
print("Minimum in List 2:", min2)

List 1: [16, 10, 12, 24, 11, 10, 29, 16, 27, 30]
List 2: [13, 30, 22, 19, 28, 19, 12, 18, 13, 11]
Minimum in List 1: 10
Minimum in List 2: 11

(iv)Maximum in both lists

In [33]:
import random

list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

max1 = max(list1)
max2 = max(list2)

print("List 1:", list1)
print("List 2:", list2)
print("Maximum in List 1:", max1)
print("Maximum in List 2:", max2)

List 1: [27, 14, 28, 26, 19, 12, 26, 24, 13, 28]
List 2: [24, 23, 12, 14, 19, 29, 22, 27, 13, 11]
Maximum in List 1: 28
Maximum in List 2: 29

(v)sum of both the list

In [34]:
import random

list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

sum1 = sum(list1)
sum2 = sum(list2)

print("List 1:", list1)
print("List 2:", list2)
print("Sum of List 1:", sum1)
print("Sum of List 2:", sum2)

List 1: [23, 11, 11, 26, 26, 10, 17, 10, 24, 15]
List 2: [25, 10, 18, 28, 17, 14, 30, 14, 24, 19]
Sum of List 1: 173
Sum of List 2: 199

##Q-6 WAP to create a list of 100 random numbers between 100 and 900, count and print the:

(i)All odd numbers

In [36]:
import random

numbers = [random.randint(100, 900) for i in range(100)]
odd_numbers = [num for num in numbers if num % 2 != 0]

print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

Odd numbers: [877, 183, 629, 479, 297, 363, 483, 151, 265, 441, 475, 443, 711, 335, 531, 105, 383, 669, 723, 713, 345, 853, 631, 393, 885, 383, 127, 747, 355, 837, 717, 279, 159, 643, 459, 643, 439, 655, 501, 437, 289, 361, 183, 847, 505, 585, 565, 771, 801, 639]
Count of odd numbers: 50

(ii)all even numbers

In [37]:
import random

numbers = [random.randint(100, 900) for _ in range(100)]
even_numbers = [num for num in numbers if num % 2 == 0]

print("Even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

Even numbers: [838, 676, 502, 604, 506, 350, 812, 592, 178, 872, 554, 634, 770, 880, 494, 608, 784, 508, 424, 256, 256, 274, 412, 192, 878, 748, 744, 180, 830, 780, 562, 482, 456, 664, 662, 566, 356, 752, 540, 540, 894, 204, 372, 852, 398, 736, 766, 526, 776]
Count of even numbers: 49

(iii)all prime numbers

In [39]:
import random

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

numbers = [random.randint(100, 900) for i in range(100)]
prime_numbers = [num for num in numbers if is_prime(num)]

print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

Prime numbers: [739, 743, 389, 523, 373, 337, 107, 317, 601, 773, 509, 503, 107, 331, 887, 311]
Count of prime numbers: 16

##Q-7 D is a dictionary D={1:"one",2:"two",3:"three",4:"four",5:"five"}
WAP to read all the keys and values from dictionary and write to the file in the given below format
key1,value1
key2,value2
key3,value3

In [41]:
D = {1: "one", 2: "two", 3: "three", 4: "four", 5: "five"}

with open("abcd.txt", "w") as file:
    for key, value in D.items():
        file.write(f"key{key},{value}\n")

##Q-8 L is a list defined as L={"one","two","three","four","five"}
WAP to count the length of reach element from a list and write to the file in the given below format:
one,3
two,3
four,4

In [42]:
L = ["one", "two", "three", "four", "five"]

with open("abc.txt", "w") as file:
    for item in L:
        file.write(f"{item},{len(item)}\n")

##Q-9 Write to the file 100 random strings whose length between 10 and 15

In [43]:
import random
import string

with open("abc.txt", "w") as file:
    for _ in range(100):
        length = random.randint(10, 15)
        rand_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
        file.write(rand_str + "\n")

##Q-10 Write to the file all prime numbers between 600 and 800

In [44]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

with open("prime_numbers.txt", "w") as file:
    for num in range(600, 801):
        if is_prime(num):
            file.write(str(num) + "\n")

##Q-11 WAP to calculate time taken by a program

In [45]:
import time
start = time.time()
for i in range(1000000):
    pass
end = time.time()
print(end - start, "seconds")

0.043706417083740234 seconds

##Q-13 WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and minimum average marks

In [46]:
students = {
    "ram": [78, 85, 90, 82, 88],
    "aman": [67, 72, 70, 60, 65],
    "shyam": [90, 92, 95, 94, 91],
    "karam": [55, 60, 58, 62, 57],
    "binny": [80, 83, 85, 81, 79]
}

averages = {name: sum(marks)/len(marks) for name, marks in students.items()}

max_student = max(averages, key=averages.get)
min_student = min(averages, key=averages.get)

print("Student with max average:", max_student, averages[max_student])
print("Student with min average:", min_student, averages[min_student])

Student with max average: shyam 92.4
Student with min average: karam 58.4